//
//  Secrets.xcconfig.template
//  Motovision
//
//  Created by Farzan Ali Faisal on 2025-03-24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Rename this file to Secrets.xcconfig and add your API keys below
WEATHER_API_KEY = your_openweather_api_key_here 